/*@import url("reset-fonts-grids.css");
@import url("base-min.css");
@import url("hk-pyg.css");*/

html,body { 
background: #fff; 
color: #303030; 
font-size: 16px; 
font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 0;
margin:0;
height: 100%;
} 

* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
text-align: left;
}

p {margin-bottom: 1em;}

ul {margin-bottom: 1em;}

hr { height: 1px; color: #aaa; background-color: #aaa; border: 0; margin: .2em 0 .2em 0; }

h1 { font-weight: bold; }
h2, h3, h4, h5, h6 { font-weight: bold; padding-bottom: .57em; padding-top: 1em; }
/*border-bottom: 1px solid #a0a0a0; */

h1 { font-size: 153.9%; margin: 1.07em 0 .535em; }
h2 { font-size: 138.5%; margin: 1.14em 0 .57em; }
h3 { font-size: 123.1%; margin: 1.23em 0 .615em; }
h4 { font-size: 116%; margin: 1.33em 0 .67em; }
h5 { font-size: 108%; margin: 1.6em 0 .8em; }
h6 { font-size: 100%; margin: 1.6em 0 .8em; }

ul { list-style-type: square; }
dt { font-weight: bold; margin-bottom: .1em; }

table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
th, td { border-bottom: 1px solid #ddd; border-right: 1px solid #ccc; }

blockquote { padding: 0 1.6em; color: #666; }

/* COLORS */

a:link { text-decoration: underline; color: #36c; }
a:visited { text-decoration: underline; color: #99c; }
a:hover { text-decoration: underline; color: #c33; }
a:active,  a:focus { text-decoration: underline; color: #000; }
/* code,  pre { color: #c33; } /* very optional, but still useful. W3C uses about the same colors for codes */

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited,
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited,
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited,
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited,
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited,
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
        color: black;
        text-decoration: none;
}

div#maincol { max-width: 46em; }

#footer { padding: 1em; margin-top: 200px; height: 100px; color: #a0a0a0; text-align: right; font-size: 80%; }

/*div#nav { margin-top: 2em; }
div#nav ul { margin-top: 0; margin-left: 1em; margin-bottom: 0; }
div#nav ul li { list-style: none; padding-bottom: 0.1em; }
div#nav ul li.current { list-style: square; }*/

#container{
	margin:0 auto 0;
	padding-top:100px;
	width: 620px;
	min-height:100%;
	height: 100%;
	/*position:absolute;*/
	/*border: 1px solid #000;*/
	/*width:auto;*/
}

#nav{
	width:100%;
	font-size:100%;
	margin-top:25px;
	margin-left:0 !important;
	height:60px;	
}

#nav ul{
	line-height:130%;
	margin-top:0;
	margin-left:0 !important;
}

#nav ul li{
	display: block;
	float:left;
	width:auto;
	color:#a0a0a0;
	font-weight:400;
	padding-top:0;
	padding-right:25px;
	margin-left:0 !important;
}


#nav a {
	text-decoration:none;
	color:#a0a0a0;
	font-weight:400;
	cursor:pointer;
}

#nav ul li.current a, a:hover{ color: #555; background-color: #fff; cursor:text}

#footer a{
	text-decoration:none;
	color:#555 !important;
	font-weight:400;
	cursor:pointer;
}

#nav a:hover, #footer a:hover{
	background-color:#FFFF00;
}

#nav a:visited, #footer a:visited{
	background-color:#FFFF00;
}

#content{
	margin-top: -40px;
	padding-bottom: 200px;
	/*border: 1px solid #000;*/
}

#content p{
	line-height: 150%;
	/*padding-right: 100px;*/
	color: #555;
	/*padding-top: 20px;*/
}

#content .date{
	padding-bottom: 5px;
	font-size: 90%;
	color:#a0a0a0;
}

#content .meet{
	font-weight: bold;
}

#content .more{
	padding-top: 20px;
}

#content ul{
	color:#303030;
	padding-top: 10px
	margin: 0 !important;
}

#content dl{
	margin: 0;
}

#content li{
	color: #555;
	list-style: none;
    margin-left: 0px;
    text-indent: -9px;
    line-height: 150%;
}

#content  li:before {
        content: "· ";
    }

 .spaced p{
	padding-bottom: 0px !important;
}

.post-date {
	font-size:90%;
	color:#a0a0a0;
}

#content a{
	/*color:#000;*/
	color: #4183c4;
	text-decoration:none;
	/*border-bottom:1px dotted #000;*/
}

#content a:visited{
	color:#4183c4;
}

#content a:hover{
	/*color:#d53c2e;*/
	background-color:#FFFF00;
	/*border-bottom:1px dotted #373B3D;*/
}

.assignment-title{
	padding-bottom: 30px;
}

#assignmentlist{
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
	margin-right: 20px;
}